aiohttp
asyncpg
aiosqlite
apscheduler
black
fuzzywuzzy
googletrans==3.1.0a0
hikari
hikari-lightbulb
hikari-miru
hikari-toolbox
isort
Pillow
psutil
pyfiglet
python-dotenv
python-Levenshtein
sqlalchemy
uvloop