aiohttp
asyncpg
aiosqlite
apscheduler
black
fuzzywuzzy
googletrans==4.0.0-rc1
hikari
hikari-lightbulb
hikari-miru
hikari-toolbox
isort
Pillow
psutil
pyfiglet
python-dotenv
python-Levenshtein
sqlalchemy
uvloop